<header class="shadow">
    <nav class="bg-white  px-2 lg:px-6 py-2.5 dark:bg-gray-800 shadow ">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <!-- Left Side Logo -->
            <div class="flex items-center">
                <%= link_to root_url, class: "flex items-center" do %>
                    <%= image_tag "brackets.svg", class: "mr-3 h-6 sm:h-9"%>
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Axel Olsson</span>
                <% end %>
            </div>
            <div data-controller="dropdown" class="lg:hidden relative inline-block">
                <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6 fill-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                </button>
                <div
                    data-dropdown-target="menu"
                    class="hidden border-black border transition w-48 overflow-hidden bg-white rounded-md shadow absolute top-4 right-3 transform origin-top-right absolute right-0 mt-3"
                    data-transition-enter-from="opacity-0 scale-95"
                    data-transition-enter-to="opacity-100 scale-100"
                    data-transition-leave-from="opacity-100 scale-100"
                    data-transition-leave-to="opacity-0 scale-95"
                >
                    <ul>
                        <li class="px-3 py-3 text-sm font-medium flex items-center space-x-2 hover:bg-slate-400">
                            <%= link_to "About", about_path, class: "", "data-action" => "dropdown#toggle" %>
                        </li>
                        <li class="px-3 py-3 text-sm font-medium flex items-center space-x-2 hover:bg-slate-400">
                            <%= link_to "Projects", projects_path, class: "", "data-action" => "dropdown#toggle" %>
                        </li>
                        <li class="px-3 py-3 text-sm font-medium flex items-center space-x-2 hover:bg-slate-400">
                            <%= link_to "Blog", posts_path, class: "", "data-action" => "dropdown#toggle" %>
                        </li>
                    </ul>
                </div>
            </div>
            <div  data-dropdown-target="menu" class="hidden justify-between items-center w-full lg:flex lg:w-auto md:bg-transparent bg-gray-100" id="mobile-menu">
                <ul class="flex flex-col items-end mt-4 font-medium text-lg text-black lg:flex-row lg:space-x-8 lg:mt-0 lg:justify-between">
                    <li>
                        <%= link_to "About", about_path, class: "dark:text-blue-500 hover:underline" %>
                    </li>
                    <li>
                        <%= link_to "Projects", projects_path, class: "dark:text-blue-500 hover:underline"%>
                    </li>
                    <li>
                        <%= link_to "Blog", posts_path, class: "dark:text-blue-500 hover:underline" %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>