 <div class="flex-grow flex flex-col justify-center items-center bg-gray-200 md:p-4 p-2 ">
   <div data-controller="carousel" class="flex-grow relative md:w-full sm:w-3/4 w-3/4 flex flex-col justify-center items-center md:p-4">

 <!-- Slider indicators -->
    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 top-5 md:bottom-5 md:top-auto left-1/2">
        <button 
            data-carousel-target="bubble" 
            type="button" 
            class="w-5 h-5 border-2 border-black rounded-full" 
            aria-current="true" 
            aria-label="Slide 1" 
            data-index="0"
            data-action="click->carousel#handleClick"
        >
        </button>
        <button 
            data-carousel-target="bubble" 
            type="button" 
            class="w-5 h-5 border-2 border-black rounded-full" 
            aria-current="true" 
            aria-label="Slide 2" 
            data-index="1"
            data-action="click->carousel#handleClick"
        >
        <button 
            data-carousel-target="bubble" 
            type="button" 
            class="w-5 h-5 border-2 border-black rounded-full" 
            aria-current="true" 
            aria-label="Slide 3" 
            data-index="2"
            data-action="click->carousel#handleClick"
        >
        <button 
            data-carousel-target="bubble" 
            type="button" 
            class="w-5 h-5 border-2 border-black rounded-full" 
            aria-current="true" 
            aria-label="Slide 4" 
            data-index="3"
            data-action="click->carousel#handleClick"
        >
        <button 
            data-carousel-target="bubble" 
            type="button" 
            class="w-5 h-5 border-2 border-black rounded-full" 
            aria-current="true" 
            aria-label="Slide 5" 
            data-index="4"
            data-action="click->carousel#handleClick"
        >
    </div>
    <!-- Slider controls -->
    <button type="button"
            class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-target="button"
            data-action="click->carousel#previous">
        <span class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" 
            class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-target="button"
            data-action="click->carousel#next">
        <span class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
    
      <div data-carousel-target="card" data-carousel-index-value="0" class="w-full max-h-full h-full absolute bg-white grid md:grid-cols-2 rounded-md dark:bg-gray-300 shadow">

        <%= image_tag "winter_hike_with_rosie.jpg", class: "flex-grow w-full md:w-auto self-start md:justify-self-start justify-self-center overflow-auto max-h-full md:h-full min-w-auto md:rounded-tr-none md:rounded-br-none rounded relative" %>
        <div class="flex flex-col md:p-4 p-2 w-full items-center justify-center md:gap-2">
          <!--
              Add a slide show of images on the left side with paragraphs about me ont the right, plan this out artistically
          -->
          <h1 class="md:text-4xl sm:text-2xl font-bold">Axel Olsson</h1>
          <p class="md:font-semibold md:mb-5 md:text-lg">Full Stack Software Developer</p>
          <!--
          <p class="text-lg">I am a self-taught full stack softare developer at <%= link_to "Precision Valley Communications", "https://www.pvc2.com/", target: "blank", class: "inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline" %> where I work on developing applications manipulating big data models.
             <br> I have worked as in Software Quality Assurance at <%= link_to "Epic", "https://www.epic.com/", target: "blank", class:"inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline" %>, the leading Electronic Medical Records company in America
          </p> -->

          <ul class="flex flex-col w-full md:gap-2">
            <li class="flex justify-evenly">
              <%=image_tag "ruby.png", class:"md:h-24 h-10"%>
              <%=image_tag "python.png", class:"md:h-24 h-10"%>
            </li>
            <li class="flex justify-around">
              <%=image_tag "html.png", class:"md:h-24 h-10"%>
              <%=image_tag "javascript.png", class:"md:h-24 h-10"%>     
              <%=image_tag "css.png", class:"md:h-24 h-10"%>
            </li>
          </ul>
          <!--
          <p>I am a University of Vermont graduate who discovered a passion and love for Web Development and problem solving. <br></p>
          <p>I am a self taught web developer through TheOdinProject, an open source educational platform specializing in Ruby on Rails and Node.js. <br></p>
          <p>I work as a Software QA at Epic, the lead Electronic Health Record company in America. <br></p>
          <p>I am an avid outdoorsman, hiker, cyclist, skier, and backpacker. <br></p>
          -->
        </div>
      </div>

      <div data-carousel-target="card" data-carousel-index-value="1" class="hidden w-full max-h-full h-full absolute bg-white grid md:grid-cols-2 rounded-md dark:bg-gray-300 shadow">
        <%= image_tag "hike_with_arlo_in_backpack.jpg", class: "flex-grow w-full md:w-auto self-start md:justify-self-start justify-self-center overflow-auto max-h-full md:h-full min-w-auto md:rounded-tr-none md:rounded-br-none rounded relative" %>
        <div class="flex flex-col md:p-4 p-2 w-full items-center justify-center md:gap-2">
        
          <h1 class="md:text-4xl sm:text-2xl font-bold">Axel Olsson</h1>
          <p class="md:font-semibold md:mb-5 md:text-lg">Full Stack Software Developer</p>

          <ul class="flex flex-col w-full md:gap-2">
            <li class="flex justify-evenly">
              <%=image_tag "ruby.png", class:"md:h-24 h-10"%>
              <%=image_tag "python.png", class:"md:h-24 h-10"%>
            </li>
            <li class="flex justify-around">
              <%=image_tag "html.png", class:"md:h-24 h-10"%>
              <%=image_tag "javascript.png", class:"md:h-24 h-10"%>     
              <%=image_tag "css.png", class:"md:h-24 h-10"%>
            </li>
          </ul>

        </div>
      </div>

      <div data-carousel-target="card" data-carousel-index-value="2" class="hidden w-full max-h-full h-full absolute bg-white grid md:grid-cols-2 rounded-md dark:bg-gray-300 shadow">
        <%= image_tag "axel_with_berit.jpg", class: "flex-grow w-full md:w-auto self-start md:justify-self-start justify-self-center overflow-auto max-h-full md:h-full min-w-auto md:rounded-tr-none md:rounded-br-none rounded relative" %>
        <div class="flex flex-col md:p-4 p-2 w-full items-center justify-center md:gap-2">
        
          <h1 class="md:text-4xl sm:text-2xl font-bold">Axel Olsson</h1>
          <p class="md:font-semibold md:mb-5 md:text-lg">Full Stack Software Developer</p>

          <ul class="flex flex-col w-full md:gap-2">
            <li class="flex justify-evenly">
              <%=image_tag "ruby.png", class:"md:h-24 h-10"%>
              <%=image_tag "python.png", class:"md:h-24 h-10"%>
            </li>
            <li class="flex justify-around">
              <%=image_tag "html.png", class:"md:h-24 h-10"%>
              <%=image_tag "javascript.png", class:"md:h-24 h-10"%>     
              <%=image_tag "css.png", class:"md:h-24 h-10"%>
            </li>
          </ul>

        </div>
      </div>

      <div data-carousel-target="card" data-carousel-index-value="2" class="hidden w-full max-h-full h-full absolute bg-white grid md:grid-cols-2 rounded-md dark:bg-gray-300 shadow">
        <%= image_tag "axel_with_maho.jpg", class: "flex-grow w-full md:w-auto self-start md:justify-self-start justify-self-center overflow-auto max-h-full md:h-full min-w-auto md:rounded-tr-none md:rounded-br-none rounded relative" %>
        <div class="flex flex-col md:p-4 p-2 w-full items-center justify-center md:gap-2">
        
          <h1 class="md:text-4xl sm:text-2xl font-bold">Axel Olsson</h1>
          <p class="md:font-semibold md:mb-5 md:text-lg">Full Stack Software Developer</p>

          <ul class="flex flex-col w-full md:gap-2">
            <li class="flex justify-evenly">
              <%=image_tag "ruby.png", class:"md:h-24 h-10"%>
              <%=image_tag "python.png", class:"md:h-24 h-10"%>
            </li>
            <li class="flex justify-around">
              <%=image_tag "html.png", class:"md:h-24 h-10"%>
              <%=image_tag "javascript.png", class:"md:h-24 h-10"%>     
              <%=image_tag "css.png", class:"md:h-24 h-10"%>
            </li>
          </ul>

        </div>
      </div>

      <div data-carousel-target="card" data-carousel-index-value="2" class="hidden w-full max-h-full h-full absolute bg-white grid md:grid-cols-2 rounded-md dark:bg-gray-300 shadow">
        <%= image_tag "sunset_with_arlo_2.jpg", class: "flex-grow w-full md:w-auto self-start md:justify-self-start justify-self-center overflow-auto max-h-full md:h-full min-w-auto md:rounded-tr-none md:rounded-br-none rounded relative" %>
        <div class="flex flex-col md:p-4 p-2 w-full items-center justify-center md:gap-2">
        
          <h1 class="md:text-4xl sm:text-2xl font-bold">Axel Olsson</h1>
          <p class="md:font-semibold md:mb-5 md:text-lg">Full Stack Software Developer</p>

          <ul class="flex flex-col w-full md:gap-2">
            <li class="flex justify-evenly">
              <%=image_tag "ruby.png", class:"md:h-24 h-10"%>
              <%=image_tag "python.png", class:"md:h-24 h-10"%>
            </li>
            <li class="flex justify-around">
              <%=image_tag "html.png", class:"md:h-24 h-10"%>
              <%=image_tag "javascript.png", class:"md:h-24 h-10"%>     
              <%=image_tag "css.png", class:"md:h-24 h-10"%>
            </li>
          </ul>

        </div>
      </div>
    </div>
 </div>