    <div class="hidden w-full max-h-full h-full absolute bg-white grid md:grid-cols-2 rounded-md dark:bg-gray-300 shadow">

        <%= image_tag "winter_hike_with_rosie.jpg", class: "flex-grow w-full md:w-auto self-start md:justify-self-start justify-self-center overflow-auto max-h-full md:h-full min-w-auto md:rounded-tr-none md:rounded-br-none rounded relative" %>
        <div class="flex flex-col md:p-4 p-2 w-full items-center justify-center md:gap-2">
          <!--
              Add a slide show of images on the left side with paragraphs about me ont the right, plan this out artistically
          -->
          <h1 class="md:text-4xl sm:text-2xl font-bold">Axel Olsson</h1>
          <p class="md:font-semibold md:mb-5 md:text-lg">Full Stack Software Developer</p>
          <!--
          <p class="text-lg">I am a self-taught full stack softare developer at <%= link_to "Precision Valley Communications", "https://www.pvc2.com/", target: "blank", class: "inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline" %> where I work on developing applications manipulating big data models.
             <br> I have worked as in Software Quality Assurance at <%= link_to "Epic", "https://www.epic.com/", target: "blank", class:"inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline" %>, the leading Electronic Medical Records company in America
          </p> -->

          <ul class="flex flex-col w-full md:gap-2">
            <li class="flex justify-evenly">
              <%=image_tag "ruby.png", class:"md:h-24 h-10"%>
              <%=image_tag "python.png", class:"md:h-24 h-10"%>
            </li>
            <li class="flex justify-around">
              <%=image_tag "html.png", class:"md:h-24 h-10"%>
              <%=image_tag "javascript.png", class:"md:h-24 h-10"%>     
              <%=image_tag "css.png", class:"md:h-24 h-10"%>
            </li>
          </ul>
          <!--
          <p>I am a University of Vermont graduate who discovered a passion and love for Web Development and problem solving. <br></p>
          <p>I am a self taught web developer through TheOdinProject, an open source educational platform specializing in Ruby on Rails and Node.js. <br></p>
          <p>I work as a Software QA at Epic, the lead Electronic Health Record company in America. <br></p>
          <p>I am an avid outdoorsman, hiker, cyclist, skier, and backpacker. <br></p>
          -->
        </div>
      </div>
    </div>
     <div class="hidden w-full max-h-full h-full absolute bg-white grid md:grid-cols-2 rounded-md dark:bg-gray-300 shadow">
        <%= image_tag "winter_hike_with_rosie.jpg", class: "flex-grow w-full md:w-auto self-start md:justify-self-start justify-self-center overflow-auto max-h-full md:h-full min-w-auto md:rounded-tr-none md:rounded-br-none rounded relative" %>
        <div class="flex flex-col md:p-4 p-2 w-full items-center justify-center md:gap-2">
          <!--
              Add a slide show of images on the left side with paragraphs about me ont the right, plan this out artistically
          -->
          <h1 class="md:text-4xl sm:text-2xl font-bold">Axel Olsson</h1>
          <p class="md:font-semibold md:mb-5 md:text-lg">Full Stack Software Developer</p>
          <!--
          <p class="text-lg">I am a self-taught full stack softare developer at <%= link_to "Precision Valley Communications", "https://www.pvc2.com/", target: "blank", class: "inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline" %> where I work on developing applications manipulating big data models.
             <br> I have worked as in Software Quality Assurance at <%= link_to "Epic", "https://www.epic.com/", target: "blank", class:"inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline" %>, the leading Electronic Medical Records company in America
          </p> -->

          <ul class="flex flex-col w-full md:gap-2">
            <li class="flex justify-evenly">
              <%=image_tag "ruby.png", class:"md:h-24 h-10"%>
              <%=image_tag "python.png", class:"md:h-24 h-10"%>
            </li>
            <li class="flex justify-around">
              <%=image_tag "html.png", class:"md:h-24 h-10"%>
              <%=image_tag "javascript.png", class:"md:h-24 h-10"%>     
              <%=image_tag "css.png", class:"md:h-24 h-10"%>
            </li>
          </ul>
          <!--
          <p>I am a University of Vermont graduate who discovered a passion and love for Web Development and problem solving. <br></p>
          <p>I am a self taught web developer through TheOdinProject, an open source educational platform specializing in Ruby on Rails and Node.js. <br></p>
          <p>I work as a Software QA at Epic, the lead Electronic Health Record company in America. <br></p>
          <p>I am an avid outdoorsman, hiker, cyclist, skier, and backpacker. <br></p>
          -->
        </div>
    </div>